
@{
    ViewBag.Title = "ContactThankPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section metatags{
        <meta name="keywords" id="metaKeyword" content="empcnews, news, Home, empc, " />
        <meta name="description" id="metaDesc" content="Non-stop news coverage of the most important local and international events" />
        <link rel="canonical" id="canonicalUrl" href="https://www.empcnews.com" />
    }*@


<div class="header-bc">
    <div class="container">
        <div class="row">

            <div class="col-md-6">

                <div class="title-header">

                    <h3>@Resources.Global.ContactUs</h3>

                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">@Resources.Global.Home</a> > </li>
                            <li>@Resources.Global.ContactUs</li>
                        </ul>
                    </div>
                    <!--end breadcrumb-->
                </div>
                <!--end title-header-->
            </div>
            <!--end col-6-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!--end header-bc-->
<div class="ThankingPage">
    <div class="container">
        <div class="ThankinContent">
            <div class="AlertThank">
                <p>Thank You..., Your Request Is Submited Successfuly</p>
            </div>
        </div>
    </div>

</div>

